/OrderCardPrint/bin/Debug/OrderCardPrint.exe
/OrderCardPrint/bin/Debug/OrderCardPrint.pdb
/OrderCardPrint/bin/Debug/OrderCardPrint.vshost.exe
/OrderCardPrint/bin/Debug/OrderCardPrint.vshost.exe.manifest
/OrderCardPrint/obj/Debug/App.g.cs
/OrderCardPrint/obj/Debug/App.g.i.cs
/OrderCardPrint/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/OrderCardPrint/obj/Debug/MainWindow.baml
/OrderCardPrint/obj/Debug/MainWindow.g.cs
/OrderCardPrint/obj/Debug/MainWindow.g.i.cs
/OrderCardPrint/obj/Debug/OrderCardPrint.Properties.Resources.resources
/OrderCardPrint/obj/Debug/OrderCardPrint.csproj.FileListAbsolute.txt
/OrderCardPrint/obj/Debug/OrderCardPrint.csproj.GenerateResource.Cache
/OrderCardPrint/obj/Debug/OrderCardPrint.csprojResolveAssemblyReference.cache
/OrderCardPrint/obj/Debug/OrderCardPrint.exe
/OrderCardPrint/obj/Debug/OrderCardPrint.g.resources
/OrderCardPrint/obj/Debug/OrderCardPrint.pdb
/OrderCardPrint/obj/Debug/OrderCardPrint_MarkupCompile.cache
/OrderCardPrint/obj/Debug/OrderCardPrint_MarkupCompile.i.cache
/OrderCardPrint/obj/Debug/OrderCardPrint_MarkupCompile.i.lref
/OrderCardPrint/obj/Debug/OrderCardPrint_MarkupCompile.lref
/*.suo
